# Sample environment for custom node development

#
# Package signing (optional)
#

# Sign packages
SIGN_PACKAGES=false

# JWK encoded signer private key
SIGNER_KEY='{
  "kid": "my-publisher-key-1",
  "d": "xxx",
  "dp": "xxx",
  "dq": "xxx",
  "e": "xxx",
  "kty": "RSA",
  "n": "xxx",
  "p": "xxx",
  "q": "xxx",
  "qi": "xxx"
}'

#
# Push to PingOne Advanced Identity Cloud (optional)
#

# Base URL of AIC tenant 
TENANT_BASE_URL=https://openam-demo.forgeblocks.com

# Service account ID 
SERVICE_ACCOUNT_ID=2a4e2069-bd7d-441f-bbf1-8878821caef7

# System wide OAuth2 client ID for service account
SERVICE_ACCOUNT_CLIENT_ID=service-account

# Scope to request for service account access
SERVICE_ACCOUNT_SCOPE=fr:am:*

# Service account JWK encoded private key
SERVICE_ACCOUNT_KEY='{
  "d": "xxx",
  "dp": "xxx",
  "dq": "xxx",
  "e": "xxx",
  "kty": "RSA",
  "n": "xxx",
  "p": "xxx",
  "q": "xxx",
  "qi": "xxx"
}'

